body {
    background-color: #fcf6cf;
    font-family: sans-serif;
}

#main {
    margin: auto;
    width: 80%;
}

#msg {
    background: #222;
    color: #999;
    margin: 0;
    padding: 10px;
    width: 100%;
}

a {
    color: #0070bb;
    text-decoration: none;
}

nav {
    font-size: large;
    text-align: center;
}

nav li {
    display: inline;
}

.small {
    font-size: small;
}
