{% extends "musique/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/album.css" />
{% endblock %}

{% block content %}
<div id=title>
    <h1>
        {{ album.title }}
        <a href="/admin/musique/album/{{ album.id }}">(edit)</a>
    </h1>
</div>

<h2>by <a href="/artist/{{ album.artist.id }}">{{ album.artist }} </a></h2>

<div id="songlist">
    <ul>
    {% for song in songs %}
        <li>
            <a href="/song/{{song.id}}">{% if song.track %}{{ song.track }} - {% endif %}{{ song.title }}</a>
        </li>
    {% endfor %}
    </ul>
    <a href="#">Download Album</a>
</div>

<img id="cover" src="{{ STATIC_URL }}images/cover.png" />
{% endblock %}
