{% load i18n %}

<div class='navbar navbar-inverse navbar-static-top'>
  <div class='navbar-inner'>
    <a class='brand' href='{% url "home" %}'>vortex</a>
    <ul class='nav'>
      <li class='divider-vertical'></li>
      <li><a href='{% url "home" %}'> <i class='icon-home icon-white'></i> {% trans "Home" %}</a></li>
      <li><a href='{% url "artist_list" %}'>{% trans "Artists" %}</a></li>
      <li><a href='{% url "album_list" %}'>{% trans "Albums" %}</a></li>
    </ul>
    <ul class='nav pull-right'>
      <li class='divider-vertical'></li>
      <li>
        <a href='{% url "admin:index" %}'><i class='icon-user icon-white'></i>
          {% if user.is_authenticated %}
            {{ user.username }}
          {% else %}
            {% trans "Log in" %}
          {% endif %}
        </a>
      </li>
  </div>
</div>
