{% extends "musique/base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<div id=title>
    <h1>
        {{ artist }}
        <a href="{% url 'admin:musique_artist_change' artist.id %}">
            ({% trans "edit" %})
        </a>
    </h1>
</div>

<ul>
{% for album in albums %}
    <li><a href="{{ album.get_absolute_url }}">{{ album }}</a></li>
{% endfor %}
</ul>

<a href="{% url 'vortex.musique.views.download_artist' artist.id %}">
    {% trans "Download Artist Discography" %}
</a>

{% endblock %}
