{% load i18n %}

<doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <title>vortex</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    {% block css %}{% endblock %}
</head>
<body>

{% block header %}
<nav>
    <ul>
        <li><a href="/">{% trans "Home" %}</a></li>
        <li>|</li>
        <li><a href="/artist/">{% trans "Artists" %}</a></li>
        <li>|</li>
        <li><a href="/album/">{% trans "Albums" %}</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}{% endblock %}
{% block footer %}{% endblock %}

</body>
</html>
