{% extends "musique/base.html" %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/song.css" />
{% endblock %}

{% block content %}

<div id=title>
    <h2>
        {{ song }}
        <a href="/admin/musique/song/{{ song.id }}">({% trans "edit" %})</a>
    </h2>
</div>

<h3>Artist:
    <a href="{{ song.artist.get_absolute_url }}">{{ song.artist }}</a>
</h3>

<h3>Album:
    <a href="{{ song.album.get_absolute_url }}">{{ song.album }}</a>
</h3>

<h3>Original Path: {{ song.original_path }}</h3>

<h2>
    <a href="/media/{{song.filefield.url}}">{% trans "Download Song" %}</a>
</h2>

{% endblock %}
